.Pagination {
  justify-content: center;
  display: flex;
}

.Pagination-Item {
  margin: 10px;
  text-align: center;
}

.Pagination-page {
  line-height: 16px;
  cursor: pointer;
}

.Pagination-active {
  bottom: 0;
  font-size: 20px;
  font-weight: 500;
  color: #4b65d8;
}

.Pagination-resetList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Pagination-btnReset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}