.Card-image {
  max-height: 200px;
}

.Card-resetList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Card-paragraph {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.paragraph:not(:last-child) {
  padding-bottom: 8px;
}

.Card-centered {
  text-align: center;
}
